arrow==1.3.0
attrs==23.2.0
click @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/click_1699237822453/work
Flask @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_b4a2svwk0s/croot/flask_1702980026964/work
ics==0.7.2
numpy==1.26.4
openpyxl==3.1.2
pandas==2.2.0
python-dateutil==2.8.2
pytz==2024.1
tzdata==2024.1
wheel==0.41.2
